/*
* {
    box-sizing: border-box;
}

* {
    transition: all 0.3s linear;
}
*/

/*my style*/

body>div.container{
    background-color: red;
    height: 500px;
}

.item {
    height: 300px;
    background-color: blue;
}

.item:nth-child(2n){
    background-color:chartreuse;
}